<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3 class="display-3 text-secondary">Create student</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="student" (ngSubmit)="submitHandler(student.value)">
                        <div class="form-group mt-2 mb-2">
                            <label for="text">Name</label>
                            <input type="text" name="name" id="name" class="form-control" [formControl]="student.controls['name']" required>
                        </div>
                        <div class="form-group mt-2 mb-2">
                            <label for="text">Email</label>
                            <input type="text" name="name" id="name" class="form-control"  [formControl]="student.controls['email'] "required>
                        </div>
                        <div class="form-group mt-2 mb-2">
                            <label for="mobile">Mobile</label>
                            <input type="number" name="mobile" id="mobile" class="form-control"  [formControl]="student.controls['mobile'] "required>
                        </div>
                        <div class="form-group mt-2 mb-2">
                            <label for="address">Address</label>
                            <input name="address"  id="address" cols="30" rows="5" class="form-control" [formControl]="student.controls['address']" required>
                        </div>
                        <div class="form-group mt-2 mb-2">
                            <input type="submit" value="Create" id="btn btn-success">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>